In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta
import numpy as np

In [2]:
np.random.seed(10)
random.seed(10)

In [3]:
def determinar_faixa_etaria(idade):
    if idade < 15:
        return "Menor que 15"
    elif idade > 90:
        return "91+"
    else:
        if 15 <= idade <= 20:
            return "15-20"
        elif 21 <= idade <= 25:
            return "21-25"
        elif 26 <= idade <= 30:
            return "26-30"
        elif 31 <= idade <= 35:
            return "31-35"
        elif 36 <= idade <= 40:
            return "36-40"
        elif 41 <= idade <= 45:
            return "41-45"
        elif 46 <= idade <= 50:
            return "46-50"
        elif 51 <= idade <= 55:
            return "51-55"
        elif 56 <= idade <= 60:
            return "56-60"
        elif 61 <= idade <= 65:
            return "61-65"
        elif 66 <= idade <= 70:
            return "66-70"
        elif 71 <= idade <= 75:
            return "71-75"
        elif 76 <= idade <= 80:
            return "76-80"
        elif 81 <= idade <= 85:
            return "81-85"
        elif 86 <= idade <= 90:
            return "86-90"

In [4]:
def gerar_data_aleatoria_uteis():
    data_atual = datetime.now()
    primeiro_dia_mes_atual = data_atual.replace(day=1)
    ultimo_dia_mes_atual = primeiro_dia_mes_atual.replace(month=primeiro_dia_mes_atual.month % 12 + 1, day=1) - timedelta(days=1)
    datas_uteis = []
    while True:
        data_aleatoria = primeiro_dia_mes_atual + timedelta(days=random.randint(0, (ultimo_dia_mes_atual - primeiro_dia_mes_atual).days))
        if data_aleatoria.weekday() < 5:  # Verifica se é dia de semana (segunda a sexta)
            return data_aleatoria

In [5]:
# Função para gerar uma lista de CPFs únicos
def gerar_lista_cpfs_unicos(n):
    cpfs_unicos = set()
    while len(cpfs_unicos) < n:
        cpf = [random.randint(0, 9) for _ in range(9)]
    
        # Calculando os dígitos verificadores
        s = sum(x * y for x, y in zip(cpf, range(10, 1, -1)))
        d1 = (s * 10) % 11
        cpf.append(d1 if d1 < 10 else 0)
        
        s = sum(x * y for x, y in zip(cpf, range(11, 1, -1)))
        d2 = (s * 10) % 11
        cpf.append(d2 if d2 < 10 else 0)
        
        # Formatar o CPF
        cpf_str = ''.join(map(str, cpf))
        cpf_formatado = f"{cpf_str[:3]}.{cpf_str[3:6]}.{cpf_str[6:9]}-{cpf_str[9:]}"
        
        cpfs_unicos.add(cpf_formatado)
    
    return list(cpfs_unicos)

In [6]:
faixas = [
    (15, 20), (21, 25), (26, 30), (31, 35), (36, 40),
    (41, 45), (46, 50), (51, 55), (56, 60), (61, 65),
    (66, 70), (71, 75), (76, 80), (81, 85), (86, 90),
    (91, 1000)
]

taxas = [
    0.0065, 0.0073, 0.0091, 0.0095, 0.0112, 0.0195, 0.033, 0.050, 0.071,
    0.111, 0.18, 0.33, 0.51, 0.838, 1.270, 2.790
]

df_taxas_idade = pd.DataFrame({
    'FAIXA_ETARIA': [f'{faixa[0]}-{faixa[1]}' if faixa[1] != 1000 else "91+" for faixa in faixas],
    'TAXAS_IDADE': taxas
})

print(df_taxas_idade)

   FAIXA_ETARIA  TAXAS_IDADE
0         15-20       0.0065
1         21-25       0.0073
2         26-30       0.0091
3         31-35       0.0095
4         36-40       0.0112
5         41-45       0.0195
6         46-50       0.0330
7         51-55       0.0500
8         56-60       0.0710
9         61-65       0.1110
10        66-70       0.1800
11        71-75       0.3300
12        76-80       0.5100
13        81-85       0.8380
14        86-90       1.2700
15          91+       2.7900

In [7]:
# Lista de nomes e sobrenomes fictícios
nomes = ['João', 'Marcelo','Maria', 'Pedro', 'Ana', 'José', 'Irani', 'Carlos', 'Rosimeri', 'Gabriel', 'Priscila', 'Igor', 'Leticia', 'Telma', 'Noemi', 'Alexandre', 'Daniel', 'Gloria', 'Fatima', 'Augusto', 'Samuel', 'Charles']
sobrenomes = ["Sant' Anna",'Prenda', 'Silva', 'Santos', 'Oliveira', 'Souza', 'Costa', 'Pereira', 'Rodrigues', 'Cristina', 'Cunha', 'Ferreira', 'Maia', 'Albernaz','Matos', 'Sande'] 

# Criando a lista de CPFs únicos
cpfs_unicos = gerar_lista_cpfs_unicos(1000000)

# Criando a base de dados
dados = []
for _ in range(1000000):
    nome = random.choice(nomes) + ' ' + random.choice(sobrenomes) + ' ' + random.choice(sobrenomes)
    idade = random.randint(18, 99)
    valor_emprestimo = float(random.randint(20000, 300000))
    cpf = cpfs_unicos.pop()
    dados.append([nome, cpf, idade, valor_emprestimo])

# Criando o DataFrame com os dados
df = pd.DataFrame(dados, columns=['NOME','CPF','IDADE', 'VALOR_EMPRESTIMO'])

In [8]:
df

                             NOME             CPF  IDADE  VALOR_EMPRESTIMO
0       Charles Cristina Ferreira  543.225.786-67     84           89939.0
1        Daniel Ferreira Cristina  617.239.972-18     85           45736.0
2          Priscila Maia Ferreira  006.945.396-94     93           30578.0
3           Daniel Ferreira Cunha  148.078.423-07     71          151054.0
4            Igor Cunha Rodrigues  261.147.907-07     64          280119.0
...                           ...             ...    ...               ...
999995  Gabriel Albernaz Cristina  110.979.363-41     95          278306.0
999996         Maria Costa Prenda  852.168.900-41     74          210252.0
999997          João Sande Santos  162.439.860-04     25          166992.0
999998   Leticia Rodrigues Santos  829.745.524-63     90          210926.0
999999      Igor Rodrigues Prenda  490.386.530-42     31          219421.0

[1000000 rows x 4 columns]

In [9]:
cdi = pd.read_csv('https://api.bcb.gov.br/dados/serie/bcdata.sgs.4389/dados?formato=csv', sep=';')
cdi['DATA'] = pd.to_datetime(cdi['data'], format='%d/%m/%Y')
cdi['valor'] = cdi['valor'].str.replace(',','.').astype(float)
cdi['TAXA_MENSAL_CDI'] = round(cdi['valor'] / 12,2)
cdi = cdi.drop(columns=['valor','data'])
cdi

           DATA  TAXA_MENSAL_CDI
0    1986-03-06             1.56
1    1986-03-10             1.58
2    1986-03-12             1.54
3    1986-03-14             1.47
4    1986-03-17             1.56
...         ...              ...
9556 2024-05-21             0.87
9557 2024-05-22             0.87
9558 2024-05-23             0.87
9559 2024-05-24             0.87
9560 2024-05-27             0.87

[9561 rows x 2 columns]

In [10]:

df['DATA_EMPRESTIMO'] =  [gerar_data_aleatoria_uteis() for i in range(len(df))]

In [11]:
df['DATA_EMPRESTIMO'] = pd.to_datetime(df['DATA_EMPRESTIMO']).dt.date
df['DATA_EMPRESTIMO'] = pd.to_datetime(df['DATA_EMPRESTIMO'])

In [12]:
df['FAIXA_ETARIA'] = df['IDADE'].apply(determinar_faixa_etaria)

In [13]:
prazos_anos = [random.randint(3, 10) for _ in range(len(df))]

# Convertendo os prazos de anos para meses
prazos_meses = [ano * 12 for ano in prazos_anos]

# Adicionando a coluna de prazos em meses ao DataFrame
df['PRAZO_MESES'] = prazos_meses

In [14]:
df = pd.merge(df, df_taxas_idade, on='FAIXA_ETARIA', how='inner')
df = pd.merge(df, cdi, left_on='DATA_EMPRESTIMO', right_on='DATA', how='inner')

In [15]:
primeira_parcela = []
for index, row in df.iterrows():
    valor_emprestimo = row['VALOR_EMPRESTIMO']
    taxa_mensal_cdi = row['TAXA_MENSAL_CDI']
    taxas_idade = row['TAXAS_IDADE']
    prazo_meses = row['PRAZO_MESES']
    
    # Calcular a primeira parcela usando a fórmula da prestação uniforme (Tabela Price)
    primeira_parcela_calculada = round((valor_emprestimo * (1 + (taxa_mensal_cdi + taxas_idade)/100) ** prazo_meses * ((taxa_mensal_cdi + taxas_idade)/100)) / ((1 + ((taxa_mensal_cdi + taxas_idade)/100)) ** prazo_meses - 1),2)
    
    primeira_parcela.append(primeira_parcela_calculada)

# Adicionar o valor da primeira parcela como uma nova coluna no DataFrame
df['PRIMEIRA_PARCELA_EMPRESTIMO'] = primeira_parcela

In [16]:
amortizacao = []

# Calcular a amortização para cada linha do DataFrame
for index, row in df.iterrows():
    valor_parcela = row['PRIMEIRA_PARCELA_EMPRESTIMO']
    taxa_mensal_cdi = row['TAXA_MENSAL_CDI']
    taxas_idade = row['TAXAS_IDADE']
    
    # Calcular os juros para esta parcela
    juros = row['VALOR_EMPRESTIMO'] * ((taxa_mensal_cdi + taxas_idade)/100)
    
    # Calcular a amortização para esta parcela
    amortizacao_parcela = round(valor_parcela - juros,2)
    
    # Adicionar a amortização à lista de amortizações
    amortizacao.append(amortizacao_parcela)

# Adicionar o valor da amortização como uma nova coluna no DataFrame
df['AMORTIZACAO'] = amortizacao

In [20]:
df

,NOME,CPF,IDADE,VALOR_EMPRESTIMO,DATA_EMPRESTIMO,FAIXA_ETARIA,PRAZO_MESES,TAXAS_IDADE,DATA,TAXA_MENSAL_CDI,PRIMEIRA_PARCELA_EMPRESTIMO,AMORTIZACAO
0,Charles Cristina Ferreira,543.225.786-67,84,89939.0,2024-05-21,81-85,84,0.8380,2024-05-21,0.87,2024.15,487.99
1,Daniel Ferreira Cristina,617.239.972-18,85,45736.0,2024-05-17,81-85,96,0.8380,2024-05-17,0.87,972.51,191.34
2,Daniel Ferreira Cunha,148.078.423-07,71,151054.0,2024-05-22,71-75,108,0.3300,2024-05-22,0.87,2502.77,690.12
3,Igor Cunha Rodrigues,261.147.907-07,64,280119.0,2024-05-20,61-65,108,0.1110,2024-05-20,0.87,4217.46,1469.49
4,Pedro Silva Silva,210.080.622-00,23,102714.0,2024-05-08,21-25,120,0.0073,2024-05-08,0.89,1401.41,479.76
...,...,...,...,...,...,...,...,...,...,...,...,...
782977,Gabriel Albernaz Cristina,110.979.363-41,95,278306.0,2024-05-02,91+,108,2.7900,2024-05-02,0.89,10452.60,210.94
782978,Maria Costa Prenda,852.168.900-41,74,210252.0,2024-05-02,71-75,36,0.3300,2024-05-02,0.89,7251.44,4686.37
782979,João Sande Santos,162.439.860-04,25,166992.0,2024-05-15,21-25,48,0.0073,2024-05-15,0.87,4277.79,2812.77
782980,Leticia Rodrigues Santos,829.745.524-63,90,210926.0,2024-05-17,86-90,36,1.2700,2024-05-17,0.87,8462.43,3948.61
782981,Igor Rodrigues Prenda,490.386.530-42,31,219421.0,2024-05-27,31-35,72,0.0095,2024-05-27,0.87,4126.52,2196.71

In [17]:
df_modificado= df

In [18]:
quantidade_alteracoes = 10  # Altere conforme necessário

# Gerar índices aleatórios para os registros que serão alterados
indices_alteracao = np.random.choice(df.index, quantidade_alteracoes, replace=False)

# Iterar sobre os índices selecionados e alterar os valores na coluna 'PRIMEIRA_PARCELA_EMPRESTIMO' aleatoriamente
for idx in indices_alteracao:
    # Gerar um valor aleatório para adicionar ou subtrair da primeira parcela
    alteracao = np.random.uniform(-0.80, 0.80)  # Altere conforme necessário o intervalo de valores aleatórios
    
    # Atualizar o valor na coluna 'PRIMEIRA_PARCELA_EMPRESTIMO'
    df_modificado.at[idx, 'PRIMEIRA_PARCELA_EMPRESTIMO'] += alteracao

In [19]:
df_modificado

,NOME,CPF,IDADE,VALOR_EMPRESTIMO,DATA_EMPRESTIMO,FAIXA_ETARIA,PRAZO_MESES,TAXAS_IDADE,DATA,TAXA_MENSAL_CDI,PRIMEIRA_PARCELA_EMPRESTIMO,AMORTIZACAO
0,Charles Cristina Ferreira,543.225.786-67,84,89939.0,2024-05-21,81-85,84,0.8380,2024-05-21,0.87,2024.15,487.99
1,Daniel Ferreira Cristina,617.239.972-18,85,45736.0,2024-05-17,81-85,96,0.8380,2024-05-17,0.87,972.51,191.34
2,Daniel Ferreira Cunha,148.078.423-07,71,151054.0,2024-05-22,71-75,108,0.3300,2024-05-22,0.87,2502.77,690.12
3,Igor Cunha Rodrigues,261.147.907-07,64,280119.0,2024-05-20,61-65,108,0.1110,2024-05-20,0.87,4217.46,1469.49
4,Pedro Silva Silva,210.080.622-00,23,102714.0,2024-05-08,21-25,120,0.0073,2024-05-08,0.89,1401.41,479.76
...,...,...,...,...,...,...,...,...,...,...,...,...
782977,Gabriel Albernaz Cristina,110.979.363-41,95,278306.0,2024-05-02,91+,108,2.7900,2024-05-02,0.89,10452.60,210.94
782978,Maria Costa Prenda,852.168.900-41,74,210252.0,2024-05-02,71-75,36,0.3300,2024-05-02,0.89,7251.44,4686.37
782979,João Sande Santos,162.439.860-04,25,166992.0,2024-05-15,21-25,48,0.0073,2024-05-15,0.87,4277.79,2812.77
782980,Leticia Rodrigues Santos,829.745.524-63,90,210926.0,2024-05-17,86-90,36,1.2700,2024-05-17,0.87,8462.43,3948.61
782981,Igor Rodrigues Prenda,490.386.530-42,31,219421.0,2024-05-27,31-35,72,0.0095,2024-05-27,0.87,4126.52,2196.71